.gameContainer {
    width: 100%;
    height: 100%;
    max-height: 720px;
    max-width: 1280px;
    display: flex;
    flex-flow: column;
    border: 2px solid;
    overflow: scroll;
    padding: 20px;
    align-items: center;
    justify-content: center;

    .topBar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        .resetButton {
            border: 2px solid;
            border-radius: 25px;
            height: 50px;
        }
        .timer {
            margin: 10px;
            font-size: 18px;
            font-style: bold;
        }
    }
    .gameContent {
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        width: 80%;
        height: 80%;

        .gameCard {
            min-width: 180px;
            min-height: 180px;
            border: 2px solid;
            border-radius: 15%;
            margin: 4px;
            transform-style: preserve-3d;
            transition: .3s;
            .gameCardContent {
                display: none;
                pointer-events: none;
            }
            &.active {
                .gameCardContent {
                    display: block;
                }
            }
            &.matched {
                .gameCardContent {
                    display: block;
                }
            }
        }
        .gameCard.click {
            transform: rotateY(90deg);
        }
    }
}